square.exe
right_triangle.exe
numm_triangle.exe
num_triangle.exe
triangle.exe
inver_num.exe
inv_triangle.exe
kite.exe
right2.exe
bin_tri.exe
v_num.exe
num.exe
char.exe
inv_char.exe
char_triangle.exe
repeat_char.exe
E_triangle.exe
unique1.exe
unique2.exe